

/* Base styles */
  .card {
    width: 20rem;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .flex-wrap {
      justify-content: center;
    }
  
    .w{
      width: 100%;
      max-width: 20rem;
      margin-bottom: 1rem;
    }
  
    .md\:w-1\/3 {
      width: 100%;
    }
  
    .md\:w-\[30\%\] {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    .text-\[2\.5rem\] {
      font-size: 2rem;
    }
  
    .text-\[1\.5rem\] {
      font-size: 1.25rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .text-\[2\.5rem\] {
      font-size: 1.75rem;
    }
  
    .text-\[1\.5rem\] {
      font-size: 1rem;
    }
  
    .px-3 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    .py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
  
  /* Ensure proper spacing for service boxes on smaller screens */
  @media screen and (max-width: 1024px) {
    .service-image-box2 {
      margin-bottom: 2rem;
    }
  }