.footer-bg-3 {
  background-image: url(/images/footer/05.jpg);
  background-size: cover;
  position: relative;
}

#bottom .bottom-wrap {
  padding: 20px 0 20px 0;
}
.bottom-type2 .bottom-wrap #copyright span {
  color: #b8c4d0;
}

#bottom .bottom-wrap #copyright a {
  color: #006aec;
}
#bottom .bottom-wrap #copyright a, #bottom .bottom-wrap #copyright span {
  font-size: 13px;
}
